project_id          = "olaba-492612"
project_name        = "Olaba LIS"
billing_account     = "013C66-6D4FCE-EC7926"
region              = "europe-west3"
cloudflare_zone_id  = "YOUR_ZONE_ID"
cloudflare_api_token = "YOUR_CLOUDFLARE_API_TOKEN"

tenant_hosts = [
  "app.olaba-lis.com",
  "lab01.olaba-lis.com"
]

# Optional
# senaite_image         = "senaite/senaite:2.x"
# senaite_addons        = ""
# tenant_storage_size_gb = 20
# tenant_app_replicas    = 2
# enable_cloudsql        = false
# enable_backup_for_gke  = false
